{% extends 'base.html' %}

{% block content %}
    <h1>About Me</h1>
    <p>**Welcome! 👋** I'm Gisel, a **Software Engineering student** with a passion for
        **web development, UI/UX design, and front-end technologies**. Currently, I'm learning
        **HTML, CSS, and JavaScript** for front-end development while using **Python** for
        back-end work.
        I’m pursuing a **Bachelor of Science in Software Engineering at WGU**. I have always
        had a love for technology over the years, my fascination with how websites and apps
        function has only grown 💗👩‍💻. My curiosity led me to learn programming languages like
        **Java** and **Python**, and as I progress in my studies, I’m focusing on **front-end
        development** while planning to explore **back-end technologies and AI** in the future
        🤖.</p>

    <h1></h1>
    <p></p>

    <h1></h1>
    <p></p>

    <h1></h1>
    <p></p>

    <h1></h1>
    <p></p>

    <h1></h1>
    <p></p>

{% endblock %}
