{% extends 'base.html' %}

{% block content %}

    <!-- Connect Section -->
    <section class="connect-section">
        <h2>Hi there!</h2>
        <p>I began building websites two years before deciding to pursue my current degree in software development.</p>
        <p>I have worked in technical support positions at organizations such as Hulu. I have a passion for user experience. </p>
        <p>These days, I still care deeply about user experience, but I’ve also developed a strong interest in backend technologies and the full process of building well-designed software and websites.</p>
        <div class="connect-buttons">
            <a href="/contact" class="btn btn-primary">Get In Touch</a>
            <a href="https://github.com/les1g" target="_blank" class="btn btn-github">GitHub</a>
            <a href="https://www.linkedin.com/in/gisel-garrido/" target="_blank" class="btn btn-linkedin">LinkedIn</a>
        </div>
    </section>
</div>

{% endblock %}
