{% extends 'base.html' %}

{% block content %}

<!--Hi, I'm Gisel Section-->
<section>
    <div class="hero-text">
        <h1>Hi, I’m Gisel!</h1>
        <p>A Software Engineer and Developer with a deep interest in AI, front-end and back-end development, and UX/UI design.</p>
        <!-- Call-to-action button leading to portfolio page -->
        <a href="/portfolio" class="btn">View My Work</a>
    </div>
</section>

<!--About me Section-->
<section class="about-preview">
    <h2>About Me</h2>
    <p>I love all things tech, with a focus on software and new technologies. My current tools include Java, Python, Flask, CSS, and HTML. </p>
    <!-- Button leading to the full 'About Me' page -->
    <a href="/about" class="btn">Learn More</a>
</section>

<!--connect Section-->
<section class="contact-cta">
    <h2>Let's Connect!</h2>
    <p>Interested in collaborating? Feel free to reach out!</p>
    <!-- Button linking to the contact page -->
    <a href="/contact" class="btn">Contact Me</a>
</section>

{% endblock %}
