{% extends 'base.html' %}

{% block content %}

<!--Heading -->
<h1>Resume</h1>

<!--Resume Overview Section-->
<section id="overview">
    <h2>Overview</h2>
    <p>
        I am passionate about Software Engineer my experience is in
        front-end development and UI/UX design but I have deep interest
        in AI.
    </p>

    <!--Skills-->
    <h2>Skills</h2>
    <ul>
        <li><strong>Languages:</strong> Java, Python, JavaScript</li>
        <li><strong>Tools & Frameworks:</strong> Flask, React, HTML, CSS</li>
        <li><strong>Key Skills:</strong> Front-end development, UI/UX design, Problem-solving</li>
        <li><strong>Experience:</strong> 3+ years working with cross-functional teams to build innovative software solutions.</li>
    </ul>
</section>

<!--Download Resume Section-->
<section id="download">
    <h2>Download My Resume</h2>
    <p>Click the link below to download my full resume:</p>
    <a href="static/images/Resume_2025.pdf" target="Resume_2025.pdf">Download Resume (PDF)</a>
</section>

{% endblock %}